package.json
package-lock.json
package-template.json
google-services.json
app-template/fcash-project/google-services.json
app-template/fcash-pay/google-services.json
.sourcemaps/
coverage/
platforms/
plugins/
www/
src/assets/*.json